<div class="scrollable">
    <div class="scrollable-content">

 <div class="list-group">
   <!--   <div class="list-group-item">
        <h1>Welcome<br>
        <small>This is a demo of Mobile Angular UI</small>
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Play around a little</h3>
            Open the sidebar and start testing features
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Test responsiveness and speed</h3>
            Scroll, tap, navigate, test that everything is smooth
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>
-->
      <div class="list-group-item media">
        <div class="pull-right">
       
        </div>
         
        <div ng-click='redirect()' style="text-decoration:none;" class="media-body ng-binding">   <img style="float:left; margin-right:5px;" src="http://i.cbc.ca/1.2525800.1391706268!/fileImage/httpImage/image.jpg_gen/derivatives/original_300/macdougall-steel.jpg"/>
            <h3 class="media-heading">
Canada's GDP growing at 2.8% pace
</h3>
         
        Canada's gross domestic product expanded at a 2.8 per cent annual pace in the past three months, Statistics Canada said today, much better than expected by economists.


        </div>
           
      </div>

    </div>
    </div>
</div>


